:root {
  --blue: #4e4da2;
  --yellow: #ffe71b;
  --black: #000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Newsreader", serif !important;
  font-weight: 800;
  font-style: italic;
}

h2 {
  letter-spacing: 6px;
  font-size: 36px;
}